<div class="card p-3">
    <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, class: "form-label"  %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <% if post.post_image.attached? %>
      <%= image_tag post.post_image, class: "form-control" %>
    <% end %>

    <div class="form-group">
      <%= form.label :Image, class: "form-label" %>
      <%= form.file_field :post_image, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :body, class: "form-label"  %>
      <%= form.text_area :body, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>
  <% end %>
</div>
