<div>
    <div class="card">
        <div class="card-body">
            <% if @post.post_image.attached? %>
                <%= image_tag @post.post_image, style: "width: 100%; height: 400px;" %>
            <% end %>
            <div class="row border-top border-bottom p-3 mb-3">
                <div class="col"><%= link_to 'Back', posts_path %></div>
                <div class="col ml-5">
                    <span class="font-weight"><%= @post.title %></span>
                </div>
                <div class="col">
                    <%= link_to 'Edit', edit_post_path(@post) %> |
                    <%= link_to "Delete Post", post_path(@post),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                </div>
            </div>

            <p class="card-text">
                <%= @post.body %>
            </p>
    </div>
</div>
